   .bg-red {
    background: #5490d9;
    box-shadow: 0 0 3px lightslategrey;
    box-sizing: border-box;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}
